In [1]:
import pandas as pd
import numpy as np
import re
import os
import matplotlib.pyplot as plt
import itertools
import datetime
#from datetime import datetime
from datetime import timedelta
import argparse
from sklearn.linear_model import LinearRegression
import sys
import math
import scipy

In [2]:
# get hospital admissions input from last 2 weeks from csv
hospital_admissions = pd.read_csv("hospital_info.csv")

hospital_admissions

          date  covid  non_covid
0   2022-11-19     39        8.0
1   2022-11-20     42       10.0
2   2022-11-21     42       12.0
3   2022-11-22     44        NaN
4   2022-11-23     55        NaN
5   2022-11-24     57        NaN
6   2022-11-25     57        NaN
7   2022-11-26     58        NaN
8   2022-11-27     66        NaN
9   2022-11-28     57        NaN
10  2022-11-29     63        NaN
11  2022-11-30     71        NaN
12  2022-12-01     71        NaN
13  2022-12-02     73        NaN
14  2022-12-03     69        NaN

In [4]:
# excel LINEST function recreate
np.polyfit(range(0,15),hospital_admissions.covid,2)

# that's y = 2.4357x + 40.55

x = 15
#ans = 2.4357*2 + 40.55
ans = -0.09453782*x**2 + 3.7592437*x + 37.682
print(ans)

72.799646

In [5]:
p = np.polyfit(range(0,15), np.log(hospital_admissions.covid), 1)
p

num_days = 21

a = np.exp(p[1])
b = p[0]
x_fitted = np.linspace(15, 15+21, num_days)
y_fitted = a * np.exp(b * x_fitted)

y_fitted

array([ 80.47153514,  84.30295528,  88.31679744,  92.52174712,
        96.92690336, 101.54179841, 106.37641839, 111.44122485,
       116.74717748, 122.30575774, 128.12899377, 134.2294864 ,
       140.62043639, 147.31567305, 154.32968409, 161.67764705,
       169.37546208, 177.43978638, 185.88807023, 194.73859475,
       204.01051149])

In [30]:
def func_exp(x, a, b):
    return a*np.exp(b*x)

y = hospital_admissions["covid"].tolist()
x = np.array(range(len(y)))
params, covs = scipy.optimize.curve_fit(func_exp, x, y)

params

new_x = 16

4.25798747e+01*np.exp(4.10101875e-02*new_x)

82.06771644413773